@font-face {
    font-family: din-black;
    src: url(./font/DIN-Black.otf);
  }
  @font-face {
    font-family: din-reg;
    src: url(./font/DIN-Reg.otf);
  }

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 2.8vw;
}
.big *{
    font-size: 2vw;
}
.wrapper {
    background-color: #333;
    padding: 3vw 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.half {
    width: 49%;
    margin-bottom: 0.2vw;
}

.etiket {
    position: relative;
    width: 95vw;
    margin: 5vw auto;
    box-shadow: 0 0 12px black;
    background-color: #fff;
    overflow: hidden;
    /* border-radius: 4vw; */
}

.rect {
    display: inline-block;
    background-color: #fff;
    border:.15vw solid yellow;
    padding: 1.2vw 2vw;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
}
.big .rect {    
    border:.15vw solid yellow;
    padding: 1vw 2vw;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
}

.etiket__title {
    font-family: din-reg;
    font-family: din-black;
    font-weight: 300;
    font-size: 6.4vw;
    line-height: .85;
    text-align: right;
    text-shadow: .1vw .1vw 1.33vw rgba(0,0,0,.4);
    color: #d20000;
    padding: 10px;
    white-space: pre;
    padding-top: 1vw;
    -webkit-text-fill-color: #d20000;
    -webkit-text-stroke-width: .2vw;
    -webkit-text-stroke-color: white;
}

.etiket__logo {
    position: relative;
    width: 30%;
    margin-bottom: 1vw;
    margin-left: 1.2vw;
    z-index: 2;
}
.big .etiket__logo {
    margin-bottom: 2vw;
}

.etiket__bez-gmo {
    display: block;
    position: absolute;
    right: 0;
    bottom: 4vw;
    width: 15%;
    height: auto;
    margin: 1vw 0 1vw auto;
}

.etiket__weight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1vw 0 10vw;
}

.etiket__weight-title {
    font-weight: bold;
    color: #d20000;
    margin-right: 2vw;
}

.etiket__weight-value {    
    color: #fff;
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
    line-height: 6vw;
    background-color: #d20000;
    min-width: 8vw;
    height: 6vw;
    border-radius: 2vw;
    padding: 0 1vw;
}

.etiket__img {
    position: absolute; 
    /* width:100%; */
    max-height: 45vw;
    top: 0;
    padding: 7vw 0 1vw 28vw;
    z-index: 0;
}
.big .etiket__img {
    padding: 10vw 0 1vw 28vw;
    max-height: 50vw;
}

.etiket__art {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    text-align: right;
    margin: 1vw 0;
}

.header {
    display: inline-block;
    position: relative;
    width: 65%;
    height: 42vw;
    margin-right: 1vw;
    vertical-align: top;
    z-index: 2;
}
.big .header {
    height: 48vw;
}

.footer {
    position: relative;    
    display: block;
    background-color: #d20000;
    color: white;
    text-align: center;
    padding: 1.3vw;
    box-shadow: 0 -0.33vw 2vw rgba(0,0,0,.5);
    z-index: 2;
}
.big .footer {
    padding: 1vw;
}

.ps {
    display: block;    
    text-align: center;
}