body {
	font-family: "century gothic", sans-serif, arial;
	transition: .4s;}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.ex15 {
	display: block;
	text-align: center;
	background-color: #fefefe;
	font-size: 21px;
	font-family: "century gothic", sans-serif, arial;
	font-weight: 900;}

.ex15_res{
	text-align: center;
	font-size: 32px; }

p, ul, input {
	text-align: center;
	font-size: 26px;
	font-family: "century gothic", sans-serif, arial;
	color: darkred;
	font-weight: 900;
	margin-top: 50px;
	list-style-type: none; }

input {
	display: block;
	margin: 10px auto;
	box-shadow: 1px 1px 3px gray; }

.inputers {
	background-color: #aaa; }

div.five_ins > p {
	margin: 0 auto;
	font-size: 21px;
	color: black; }

div:not(:first-child) {
	width: 100%;
	padding-bottom: 50px;}

div.four > input,
div.four > span {
	display: block;
	margin: 5px auto;
	height: 30px;
	font-size: 21px;
	text-align: center; }

div.four > span {
	width: 50vw;
	height: 40px;
	font-size: 30px;
	line-height: 40px;
	color: #444; }