
body {
	padding: 0;
	margin: 0;
 	background-color: #eed;}

.grid {
	display: grid;
	width: 500px;
 	height: 540px;
 	margin: 20px auto;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr; 
 	grid-template-rows: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
 	box-shadow: 5px 5px 33px gray;}


/*=======ПОЗИЦІЇ БЛОКІВ==========*/
.block_1 {	grid-area: 1/1/2/3;}
.block_2 {	grid-area: 1/3/2/5;}
.block_3 {	grid-area: 2/1/3/2;}
.block_4 {	grid-area: 3/1/5/2;}
.block_5 {	grid-area: 3/5/4/6;}
.block_6 {	grid-area: 3/6/4/7;}
.block_7 {	grid-area: 4/4/5/5;}
.block_8 {	grid-area: 4/5/5/7;}
.block_9 {	grid-area: 5/4/6/5;}
.block_10 {	grid-area: 6/2/8/4;}
.block_11 {	grid-area: 7/4/8/7;}
.block_12 {	grid-area: 1/5/2/7;}
.block_13 {	grid-area: 2/5/3/7;}
.block_14 {	grid-area: 5/1/8/2;}
.block_15 {	grid-area: 2/2/4/5;}
.block_16 {	grid-area: 5/5/7/7;}
.block_17 {	grid-area: 4/2/5/3;}
.block_18 {	grid-area: 4/3/5/4;}
.block_19 {	grid-area: 5/2/6/3;}
.block_20 {	grid-area: 5/3/6/4;} 
.block_21 {	grid-area: 6/4/7/5;}


/*========КОЛЬОРИ БЛОКІВ===========*/
.white {  background-color: white;}
.red {	  background-color: red;}
.yellow { background-color: yellow;}
.blue {	  background-color: blue;}
.black {  background-color: black;}


/*============БОРДЕРИ==============*/
div.grid > * {
 	border-left: 10px solid #222;
 	border-bottom: 10px solid #222;}

div.grid > .block_1,
div.grid > .block_3,
div.grid > .block_4,
div.grid > .block_14 {
	border-left: none; }

div.grid > .block_10,
div.grid > .block_11,
div.grid > .block_14 {
	border-bottom: none;}

/*============ТАБЛИЦІ===============*/
.table {
	display: none;
	width: 500px;
	height: 540px;
	margin: 20px auto;
	box-shadow: 5px 5px 33px gray;}

 table,
 tbody {
 	margin: 0;
 	padding: 0;
	width: 100%;
	height: 100%;
	border-collapse: collapse;}

td {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
	border-top: 10px solid #222;
	border-left: 10px solid #222;
	width: 71.42px;
	height: 60px;}

.table td.w200 {
	width: 142.84px;}

.table tr.h200 td {
	height: 120px;}

td:first-child {
	border-left: none;}

tr:first-child > td {
	border-top: none;}

/*======= ПЕРЕКЛЮЧАТЕЛЬ JS =======*/
.switcher {
	width: 100px;
	margin: 25px auto 10px;
	padding: 10px 45px 10px 50px;
	box-shadow: 5px 5px 33px gray;}