@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Montserrat:400,600,900|Open+Sans:300,400,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif; }

a {
  text-decoration: none;
  color: unset; }

.hidden {
  display: none; }

html {
  background-color: #000; }

body {
  min-height: 100vh;
  opacity: .66; }

.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; }

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.66); }

main {
  padding-top: 20px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 15px; }

.locs {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0 10px; }
  .locs__item {
    display: inline-block;
    max-width: 100px;
    width: 18%;
    cursor: pointer; }
    .locs__item img {
      width: 100%; }
    .locs__item p {
      color: white;
      text-align: center;
      line-height: 1; }

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 15px; }
  .main-info .loc {
    display: inline-block;
    font-size: 16px; }
  .main-info__dates {
    display: inline-block;
    font-size: 24px;
    max-width: 320px; }
  .main-info__desc {
    display: flex;
    align-items: center;
    font-size: 21px;
    height: 25px;
    line-height: 1; }
    .main-info__desc::before {
      content: '';
      display: inline-block;
      background: url("../img/info.png") no-repeat center;
      background-size: contain;
      width: 25px;
      height: 25px;
      margin-right: 5px; }

.days-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .days-info__item {
    width: 300px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
    background-color: #333;
    color: white;
    margin: 10px;
    padding: 15px;
    box-shadow: 15px 15px 42px rgba(0, 0, 0, 0.5); }
    .days-info__item .date {
      font-size: 200%;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.84); }
    .days-info__item .temperatures {
      padding: 15px 0; }
      .days-info__item .temperatures__item {
        display: inline-block;
        width: 49%;
        text-align: center;
        font-size: 200%;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.66); }
    .days-info__item .day,
    .days-info__item .night {
      display: inline-block;
      vertical-align: top;
      width: 49%;
      text-align: center; }
    .days-info__item .icon {
      width: 100px; }
    .days-info__item .phrase {
      line-height: 1;
      min-height: 33px;
      display: flex;
      justify-content: center;
      align-items: center; }

@media screen and (max-width: 768px) {
  .days-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .days-info__item {
      width: 85vw; }
  .locs__item p {
    font-size: 3vw; }
  .main-info {
    display: block;
    text-align: center; }
    .main-info__desc {
      justify-content: center;
      width: 100%;
      margin-top: 10px; }
      .main-info__desc::before {
        content: '';
        display: inline-block;
        background: url("../img/info.png") no-repeat center;
        background-size: contain;
        width: 25px;
        height: 25px; } }
