body {
	background-color: #f4f3f4;
	font-family: arial;
	padding: 0;
	margin: 0;}

h1 {
	text-transform: uppercase;
	letter-spacing: -1px;
	text-align: center;
	padding: 20px 0 5px;}

h4 {
	color: #191919;}

p, ul {
	font-size: 80%;
	padding-left: 35px;}

a {
	font-style: italic;
	font-weight: 600;}

img {
	display: block;
    margin: 0 auto;
	border: 1px solid gray;}

ul {	
	line-height: 1.4;}

.withbord {
	padding-bottom: 5px;
	border-bottom: 1px solid gray;}

.wrapper {
	width:500px;
	margin:auto;}

.descript {
	color: #555;
	font-size: 100%;
	padding-left: 0;}

