body {	
    background: linear-gradient(rgba(255,255,255, .66), transparent), url("bckg.jpg");
	font-family: arial;
	height: 101vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.video-bg {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 100%;
    min-width: 100vw;
    min-height: 100vw;
	z-index: -1;
	opacity: .3;
	filter: blur(.2vw) brightness(2);
}

header {
	position: fixed;
	display: block;
	top: 0;
	right: 4vw;	
	height: 100px;
	margin: 3.5vh 3vw;
	z-index: 2;
}
h1 {
	font-size: 3vw;
	font-weight: 700;
	letter-spacing: -.1vw;
	margin: 0;
}
.logo {
	height: 100%;
}

footer {
	position: fixed;
	display: block;
	right: 3vw;
	bottom: 0;
	height: 33px;
	margin: 4vh 4vw;
	z-index: 2;
}

.wrapper {
	position: relative;
	width: 90vw;
	height: 95vh;
	margin: 2vh auto 0;
	/* background-color: rgba(192,192,192,0.66); */
	/* box-shadow: 2px 2px 14px black; */
	z-index: 1;
}

.item {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;	
	width: 60%;
	height: 33%;
	color: #fff;
	margin: 24px 30px;
	background: linear-gradient(to bottom right, #000, #333);
	box-shadow: 0 2vw 3vw rgba(0,0,0,.5);
	transition-property: transform, left, top, opacity;
	transition-duration: .42s, .42s, .42s, .9s;
	transition-timing-function: ease, ease, ease, ease-out;
	z-index: 2;
}
.mirror {
	height: 10vw;
	opacity: .9;
	transform: skewX(-60deg) translate(-16%, 0);
	filter: blur(.66vw);
}

.item:hover {
	/* top: 17%;
	opacity: 1;
	background: linear-gradient(to bottom right, #4d3200, #111) !important; */
}

span {
	display: inline-block;	
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: underline;
	font-size: 2vw;
	font-weight: 100;
	text-indent: 10px;
	line-height: 30px;
	margin: 1vw;
}

h2 {
	text-align: center;
	font-size: 5vw;
	display: flex;
    justify-content: center;
	align-items: center;
	text-shadow: .66vw .66vw 1vw rgba(0,0,0,.5);
    height: 100%;
    margin: 0;
}

a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: white;
	text-decoration: none;
}
