body {	
    background-image: url("bckg2.jpg");
	font-family: arial;
	/* height: 101vh; */
	padding: 0;
	margin: 0;}

header {
	position: fixed;
	display: block;
	top: 0;
	right: 4vw;	
	height: 100px;
	margin: 3.5vh 3vw;
	z-index: 2;
}
h1 {
	font-size: 3vw;
	font-weight: 700;
	letter-spacing: -.1vw;
	margin: 0;
}
.logo {
	height: 100%;
}

footer {
	position: fixed;
	display: block;
	right: 3vw;
	bottom: 0;
	height: 33px;
	margin: 4vh 4vw;
	z-index: 2;
}

.wrapper {
	position: relative;
	width: 90vw;
	height: 95vh;
	margin: 2vh auto 0;
	background-color: rgba(192,192,192,0.66);
	box-shadow: 2px 2px 14px black;
	z-index: 1;
}

.item {
	position: absolute;
	top: 0;
	left: 0;
	/* transform: translate(-50%, -50%); */
	display: inline-block;
	width: 60%;
	height: 33%;
	color: #fff;
	margin: 24px 30px;
	background: linear-gradient(to bottom right, #000, #333);
	box-shadow: 0 2vw 3vw rgba(0,0,0,.5);
	transition-property: transform, left, top, opacity;
	transition-duration: .33s, .33s, .33s, .8s;
	transition-timing-function: ease, ease, ease, ease-out;
	z-index: 2;
}

.item:hover {
	/* top: 17%;
	opacity: 1;
	background: linear-gradient(to bottom right, #4d3200, #111) !important; */
}

span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;	
	text-decoration: underline;
	text-indent: 10px;
	line-height: 30px;}

h2 {
	text-align: center;
	font-size: 5vw;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

a {
	display: inline-block;
	height: 100%;
	width: 100%;
	color: white;
	text-decoration: none;}

h2 a {
	display: inline;}

h2 a.bonus:hover {
	color: yellow;}
