@font-face {
    font-family: bold; 
    src: url(../fonts/OpenSans-Bold.woff);
   }
@font-face {
    font-family: light; 
    src: url(../fonts/OpenSans-Light.woff);
   }
@font-face {
    font-family: regular; 
    src: url(../fonts/OpenSans-Regular.woff);
   }
@font-face {
    font-family: semi-bold; 
    src: url(../fonts/OpenSans-SemiBold.woff);
   }
@font-face {
    font-family: title; 
    src: url(../fonts/Oswald-Bold.woff);
}

//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:700&display=swap');