$btn-bg: rgb(138, 230, 207);
$price-bg: rgba(138, 230, 207, .8);

$title-color: rgb(44, 48, 61);
$price-color: rgb(44, 48, 61);
$sp-price-color: #ce2c52;
$rate-star-color: #ce2c52;
$art-color: rgba(44, 48, 61, 0.702);
$social-color: rgb(44, 135, 206);
$text-color: rgb(40, 40, 40);

$bold: bold, sans-serif;
$ligh: light, sans-serif;
$regular: regular, sans-serif;
$semi-bold: semi-bold, sans-serif;
$title: title, sans-serif;

$mobile: "(max-width: 640px)";
$tablet: "(min-width: 641px) and (max-width: 933px)";
$desktop: "(min-width: 934px)";


  