.wrapper {
	position: relative;
}

.sb-description h3 {
	font-size: 36px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	display: none;
}

.nav-arrows a {
	box-sizing: border-box;
	width: 42px;
	height: 42px;
	background: rgb(52,201,227) url(../images/nav.png) no-repeat top left;
	position: absolute;
	top: 50%;
	right: auto;
	left: 15vw;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	border-radius: 50%;
	transition: .4s;}

.nav-arrows a:first-child {
	right: 15vw;
	left: auto;
	background-position: top right; }

.nav-arrows a:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	filter: contrast(200%); }

@media screen and (max-width: 1650px) {

	.sb-description h3 {
		font-size: 2.5vw; }	
}


@media screen and (max-width: 2200px) {

	.nav-arrows a:first-child {
		left: auto;
		right: 2px;  }

	.nav-arrows a {
		right: auto;
		left: 2px;	}
}