body {
	padding: 0;
	margin: 0;
	background-color: #f9f9f9;
	font-family: arial;
	font-size: 0.8rem;
	letter-spacing: 1.1px;}

a {
	text-decoration: none;
	color: #000;}

li,
ul {
	padding: 0;
	margin: 0;}

li {
	list-style-type: none;}

.wrapper {
	padding: 0;
	margin: 0;
	background-color: white;
	width: 1060px;
	height: 950px;
	margin: auto;
	box-shadow: 0 0 4px black;}	

header {
	width: 966px;
	height: 120px;
	padding-top: 50px;
	margin: 0 auto;}

.menu {
	margin-top: 36px;
	height: 40px;
	background: linear-gradient(#5e5e5e, #464545);}

.menu li {
	display: inline-block;
	margin-right: 28px;
	border-style: solid;
    border-color: transparent;
	border-width: 1px;}

.menu li:hover {
	background: linear-gradient( #4a4a4a, #2e2e2e);
	border-color: transparent #838383;}

.menu a {
	display: inline-block;
	line-height: 38px;
	padding: 0 24px;
	font-size: 0.9rem;
	letter-spacing: 1px;
	color: white;}

.container {
	width: 966px;
	height: 600px;
	margin: 40px auto;}

.left_menu,
.content {
	display: inline-block;}

.left_menu {
	width: 240px;
	margin-right: 40px;
	vertical-align: top;}

.left_menu li {	
	background-color: transparent;
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;}

.left_menu li:nth-last-child(1) {
	border-bottom: 1px solid #c8c8c8;}

.left_menu a {
	display: inline-block;
	width: 100%;
	line-height: 39px;
	color: #656363;
	text-indent: 23px;}

.left_menu a:hover {
	text-indent: 37px;
	color: #2c2c2c;
	background-color: #f9f9f9;}

.image {
	border: 1px solid #c8c8c8;
	margin-bottom: 40px;}

.content {
	width: 678px;} 

.content p {
	padding: 0 24px;
	margin: 0 auto;
	line-height: 1.675;
	letter-spacing: 0.6px;}

footer {
	height: 40px;
	width: 966px;
	margin: 40px auto;
	background-color: #e1e1e1;}

footer ul,
footer li, 
footer p {
	display: inline-block;}

footer li {
	line-height: 40px;
	margin-right: 36px;
	padding: 0 24px;}

footer a:hover {
	text-decoration: underline;}

footer span {
	line-height: 40px;
	padding-right: 24px;
	letter-spacing: 0.5px;
	margin: 0 0 0 212px;
	text-align: right;}

