body {
	background-image: url("../bckg2.jpg");
	font-family: "century gothic", sans-serif, arial;
	transition: .4s; }

p, input, span {	
	font-size: 18px; }

input {
	display: block;
	margin: 10px auto;
	box-shadow: 1px 1px 3px gray;
	height: 34px;
	font-size: 21px;
	font-weight: 900;
	text-align: center; }

input[type="submit"] {
	background-color: #c00;
	color: white;
	transition: 0.4s;
	height: 37px; 	}
input[type="submit"]:hover {
	background-color: darkred;
	transform: 	scale(1.1);
	font-size: 21px;
	cursor: pointer; }

input.error {
	background-color: #ff6666; }

input.error:after{
	content: '!';
	width: 50px;
	height: 50px;
	font-size: 20px; }

.zadacha {
	padding: 50px 20px;
	background-color: #444;
	color: snow; }

.joberZone {			
	position: relative;
	margin: 50px 10px;
	padding: 10px;
	background-color: snow;
	border: 1px solid #ddd;
	box-shadow: 5px 5px 16px rgba(0,0,0,.6); }

button {
	display: block;
	margin: 0 auto;
	background-color: darkred;
	color: snow;
	font-size: 21px;
	font-weight: 700; }

img {
	margin: 15px; }

.block {
	margin: 0 auto;
	width: 50%;
	height: 50vh;
	box-shadow: 0 0 15px rgba(0,0,0,.7);
	background-color: gold; }

p.location {
	text-align: center;
	font-size: 24px;
	font-weight: bold; }

.closed,
.open {
	transition: 0.05s ease;
    width: 338px;
    height: 258px;
    background: url(img/folders.jpg) 0 0;
    margin: 0 auto; }

.open {
	background: url(img/folders.jpg) 338px 0; }

.simple {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #666;
	box-shadow: 1px 1px 5px rgba(0,0,0,.4);
	margin: 5px;
	transition:.6s;
	border-radius: 0;}

.br50 {
	border-radius: 50%;
	background-color: #444;}

.wrapper_14_4 {
	width: 100%;
	height: 250px;
	box-shadow: 0 0 15px rgba(0,0,0,.7); }

.bckg {
	margin: 1%;
	width: 17.5%;
	transition: .3s ease;
	cursor: pointer; }

.bckg:hover {
	transform: scale(1.1);
	box-shadow: 0 0 15px rgba(0,0,0,.6); }

.div-14_5 {
	top:0;
	left:50%;
	position: absolute;
	height: 50px;
	width: 50px;
	color: snow;
	background-color: #666;
	box-shadow: 0 0 15px rgba(0,0,0,.6);
	transition: .4s ease-in;
	border-radius: 50%;
	text-align: center;	}

.div-14_5:hover {
	transform: scale(1.05);
	background-color: #444; }

.triger {
	position: relative;
	display: block;
	width: 66vw;
	height: 16vw;
	background-color: #444;
	margin: 0 auto;
	border-top: 1px solid transparent;
	box-shadow: 0 0 15px rgba(0,0,0,.6); }

.triger_item {
	position: absolute;
	left: 0;
	box-sizing: border-box;
	width: 14vw;
	height: 14vw;
	margin: 1vw;
	background-color: orange;
	border-radius: 20%;
	border: 2px solid black;
	box-shadow: 0 0 15px rgba(0,0,0,.6);
	transition: .4s ease; }