@font-face {
    font-family: 'discount';
    /* src: url(../fonts/Comix.ttf);
    src: url(../fonts/diner.ttf);
    src: url(../fonts/porkh.ttf); */
    /* src: url(../fonts/janda.ttf); */
    src: url(../fonts/1.otf);
}

@font-face {
    font-family: 'price';
    /* src: url(../fonts/Comix.ttf); */
    src: url(../fonts/Harabara.ttf);
}

@font-face {
    font-family: 'desc';
    src: url(../fonts/desc2.ttf);
    /* src: url(../fonts/desc.ttf); */
}

* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: sans-serif;
    color: black;
}

body {
    background: grey;
    transition: .3s;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95vw;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, .6);
    margin: 0 auto;
    padding: 10px;
    background-color: white;
}

.item {
    width: 20%;
    margin: 1%;
    min-width: 320px;
    max-width: 500px;
    position: relative;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, .4);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
}

.item__img {
    width: 100%;
}

.item__num {
    position: absolute;
    bottom: 10px;
    right: 10px;
}