html {
	background-color: #0c739f;}
	
body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to bottom, 
			    #128aa7 0px, #128aa7 28px,
			    #5ef0ff 28px, #5ef0ff 29px,
			    #11cde1 29px, #ffffff 174px,
			    #40c6d3 174px, #1192b1 322px,
			    #0c739f 1022px, #0c739f 100%);
	background-repeat: no-repeat;
	font-family: tahoma, sans-serif;}

a {
	text-decoration: none;
	color: #fff;}

li,
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;}

.wrapper {
	position: relative;
	padding: 0;
	margin: 0 auto;
	background-color: white;
	width: 1000px;
	box-shadow: 0 7px 7px black;}	

header {
	position: relative;
	width: 100%;
	height: 174px;
	margin: 0 auto;
	font-size: 12px;}

.logo {
	position: absolute;
	bottom: 0;
	left: 28px;}

header span {
	position: absolute;
	bottom: 53px;
	left: 100px;
	color: rgb(18, 138, 167);}

.contacts {
	float: right;
	padding: 1px 31px 0 0;
 	color: rgba(18, 138, 167, 0.8);
	line-height: 0.6;
	text-align: left;}

.countries {
	clear: both;
	padding: 10px 30px 0 0;
	float: right;}

.countries div {
	float: right;
	width: 54px;
	height: 56px;
	text-align: center;
	margin-right: 1px;
	font-size: 10px;}

.countries img {
	height: 42px;
	width: 42px;}

.countries div p a {
	height: 56px;
	width: 100%;
	vertical-align: bottom;
	color: rgb(18, 138, 167);
	text-decoration: underline;}

.photo {
	clear: both;
	margin: 0 auto;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;}

.photo img {
	width: 1000px;
	height: 237px;}

.center_panel {
	position: absolute;
	top: 414px;
	height: 28px;
	width: 100%;
	background: linear-gradient(to bottom, #373737, #303030);
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid black;
    box-shadow: 0 2px 4px black;
	z-index: 20;}	

.center_panel ul{
	margin-left: 30px;
	position: relative;}

.center_panel li {
	float: left;
	font-size: 14px;
	line-height: 28px;
	margin: 0 10px;}

.center_panel li a {
	position: relative;
	display: inline-block;
	line-height: 28px;
	padding: 0 20px;}

ul.submenu {
    position: absolute;
    display: none;
    width: 150px;
    top: 28px;
    background-color: rgb(48, 48, 48);
  	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  	border-top: 1px solid black;
	text-align: left;}

ul.submenu,
li.submenu_item,
a.submenu_link {
	margin: 0;
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	width: 150px;}

ul li a.submenu_link {
	padding: 0 0 0 20px;
	width: 130px;}

.center_panel ul li:hover > ul.submenu {
    display: block;}

 a.submenu_link:hover { /* Для наглядності роботи посилань */
 	text-decoration: underline;} 

h4,
h2 {
	margin: 15px 0 0;
	text-align: center;}

.right_block p,
.left_block p,
.center_block p {
	padding: 10px 24px 20px 16px;
	margin: 0;
	border-bottom: 1px solid gray;}

.fon1 {  /* фон для левой колонки */
	width:210px;
	background-color: #edeef0;
	float: left;
	right: 210px;
	border-right: 1px solid gray; 
	border-left: 1px solid gray;}

.fon2 {/* фон для центральной колонки */
	width: 790px;
	background: white;
	float: left;
	right: 210px; 
	border-right: 1px solid gray;}

.fon3 {/* фон для правой колонки */
	width: 1000px;
	background-color: #edeef0;
	float: left;
	border-right: 1px solid gray;}

.content {
	margin-top: 29px; 
	width: 1000px;
	height: auto;}

.left_block {
	width: 210px;
	float: left;
	overflow: hidden;
	position: relative;
	left:0;}

.center_block {
	width: 580px;
	float: left;
	position: relative;
	overflow: hidden;}

.right_block {
	width: 210px;
	float: left;
	position: relative;
	overflow: hidden;}

.wrapper:after {
    content: "";
    display: table;
    clear: both;}

footer {
	clear: both;	
	height: 31px;
	width: 100%;	
	margin: 3px auto 0;	
	background-color: #0c739f;
	text-align: center;	
	z-index: 50;}

footer span {
	display: inline-block;
	font-size: 12px;
	line-height: 31px;
	vertical-align: middle;
	color: white;}
