@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Montserrat:400,600,900|Open+Sans:300,400,600,700,800&display=swap");
body *, html * {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: unset; }

h1 {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 100; }

.hidden {
  display: none !important; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  overflow: hidden; }

header {
  position: relative;
  background: url(../img/bg-top.svg) no-repeat right 100.5%, radial-gradient(#CCFF00, #aca701);
  background-size: 100%;
  color: white;
  min-height: 500px;
  overflow: hidden; }
  header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 45px 15px 60px; }
  header .logo {
    width: 45%; }
  header .contact {
    width: 33%; }
    header .contact-tel {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap; }
      header .contact-tel__phone {
        width: 100%; }

.logo {
  width: 460px;
  text-align: right; }
  .logo .co-title {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    text-align: center;
    color: #0C4C8C;
    line-height: 1.15;
    font-weight: 900; }
    .logo .co-title span.co-officiale {
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-size: 21px;
      text-align: center;
      color: white;
      line-height: 2;
      letter-spacing: 1px;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.66); }
      .logo .co-title span.co-officiale::after {
        content: none; }
    .logo .co-title span {
      position: relative;
      display: block;
      font-size: 72px;
      color: #0C4C8C;
      line-height: 1; }
      .logo .co-title span::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 50%;
        height: 2px;
        background: #0C4C8C;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0); }

.contact {
  font-family: "Open Sans", sans-serif;
  z-index: 9; }
  .contact-tel {
    display: flex;
    align-items: center; }
    .contact-tel__phone {
      font-size: 30px;
      font-weight: 400;
      letter-spacing: -1px;
      text-shadow: 0 0 12px rgba(0, 0, 0, 0.66);
      text-align: right; }
    .contact-tel__viber {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(../img/vi.png) no-repeat center;
      background-size: cover;
      margin: 0 15px 0 30px; }
    .contact-tel__wu {
      display: inline-block;
      width: 30px;
      height: 30px;
      background: url(../img/wu.png) no-repeat center;
      background-size: cover; }
  .contact-mail {
    display: block;
    margin-top: 5px;
    text-align: center; }

.lang {
  width: 32px;
  height: 32px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.42);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 5px; }

main {
  margin-top: -360px; }

.product {
  padding: 0 15px 30px;
  position: relative; }
  .product .ua, .product .ru {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 5px 5px;
    font-family: "Montserrat", sans-serif;
    border-radius: 32px;
    font-size: 156px;
    font-weight: 800;
    color: #0C4C8C;
    height: 100px;
    width: 33%;
    text-align: right;
    margin-top: auto;
    text-shadow: 0 0 12px white; }
    .product-price span {
      font-size: 42px;
      margin-top: 20px; }
  .product-desc {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 460px;
    text-align: left;
    padding-bottom: 100px; }
    .product-desc__desc {
      width: 58%;
      align-self: flex-end;
      color: #0C4C8C;
      text-align: right;
      padding-right: 5px;
      padding-bottom: 15px;
      margin-top: 45%;
      border-right: 3px solid #0C4C8C; }
      .product-desc__desc p {
        font-family: "Open Sans", sans-serif, sans-serif;
        font-size: 28px;
        line-height: 1;
        font-size: 32px;
        font-weight: 600; }
        .product-desc__desc p.title {
          font-family: "Montserrat", sans-serif, sans-serif;
          text-transform: uppercase;
          font-size: 35px;
          font-weight: 900; }
  .product-img {
    max-width: 52%; }

.why-we {
  padding: 75px 0;
  background: linear-gradient(#CCFF00, white);
  border-radius: 0 33% 0 33%;
  margin-top: 50px; }
  .why-we .ua, .why-we .ru {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .why-we-item {
    width: 23%;
    text-align: center; }
    .why-we-item__img {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: radial-gradient(#44a1ff 33%, #0C4C8C);
      border-radius: 50%;
      padding: 12.5%; }
    .why-we-item-icon {
      width: 100%; }
    .why-we-item__title {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      margin: 10px 0;
      font-size: 24px;
      color: #0C4C8C; }
    .why-we-item__desc {
      font-family: "Didact Gothic", sans-serif;
      font-size: 18px;
      color: #151515; }

.components {
  padding: 0 0 75px;
  margin: 75px 0 0;
  text-align: right;
  position: relative; }
  .components .container {
    display: flex;
    align-items: center; }
  .components::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .66;
    z-index: -1;
    background: url("../img/bg2.jpg") no-repeat left bottom;
    background-size: contain; }
  .components__title {
    width: 30%;
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
    color: #0C4C8C;
    text-align: right;
    line-height: 1.12;
    padding-right: 10px;
    text-shadow: 0 0 18px white; }

.table {
  width: 70%;
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(0, 0, 200, 0.06);
  background-color: rgba(255, 255, 255, 0.8); }
  .table-row:nth-child(odd) {
    background-color: rgba(0, 0, 200, 0.06); }
  .table-row--title.table-row {
    background-color: #CCFF00;
    color: #151515; }
  .table-text, .table-num {
    display: inline-block;
    font-family: sans-serif;
    font-size: 21px;
    line-height: 2.25;
    width: 275px; }
  .table-text {
    text-align: right;
    width: 210px;
    padding-left: 5px; }
  .table-num:nth-child(odd) {
    width: 175px; }

footer {
  padding: 30px 15px 15px;
  background: url("../img/bg3.jpg") no-repeat center;
  background-size: cover;
  border-top: 2px solid #151515;
  text-shadow: 0 0 12px black; }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white; }
  footer .logo {
    text-align: center; }
  footer .logo-text {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 900; }
  footer .copyright {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 14px; }

@media screen and (max-width: 1024px) {
  header .container {
    justify-content: space-between; }
  header .logo {
    order: 3;
    width: 100%;
    margin-top: 20px; }
    header .logo .co-title span {
      font-size: 64px; }
  header .contact {
    order: 1;
    width: 75%; }
    header .contact-tel {
      width: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap; }
      header .contact-tel__phone {
        margin-left: 40px;
        width: auto; }
  header .lang {
    order: 2;
    margin-right: 40px; }
  main {
    margin-top: -200px; }
  .product {
    padding: 0 15px 30px;
    position: relative; }
    .product .ua, .product .ru {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
    .product-price {
      padding: 0 15px 5px;
      border-radius: 32px;
      width: auto;
      text-align: right;
      border-right: none; }
    .product-desc {
      order: 2;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      text-align: center; }
      .product-desc__desc {
        width: auto;
        margin-top: 0; }
    .product-img {
      max-width: none;
      width: 95%;
      height: 100%;
      order: 1; }
  .why-we {
    margin-top: 0; }
    .why-we .ua, .why-we .ru {
      justify-content: space-evenly; }
    .why-we-item {
      margin: 20px;
      width: 30%;
      min-width: 270px; }
  .components .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .components__title {
    width: 100%;
    text-align: center;
    text-shadow: 0 0 18px white;
    margin-bottom: 45px; }
  .table {
    width: 100%; }
    .table-row--title.table-row {
      background-color: #CCFF00;
      color: #151515; }
    .table-text, .table-num {
      display: inline-block;
      font-family: sans-serif;
      font-size: 21px;
      line-height: 2.25;
      width: 275px; }
    .table-text {
      text-align: right;
      width: 210px;
      padding-left: 5px; }
    .table-num:nth-child(odd) {
      width: 175px; }
  footer .logo {
    width: 100%;
    margin-bottom: 10px;
    color: #CCFF00; }
  footer .contact {
    text-align: center; }
    footer .contact-tel {
      justify-content: center; } }

@media screen and (max-width: 768px) {
  header {
    min-height: unset; }
    header .container {
      justify-content: space-between; }
    header .logo {
      width: 100%;
      text-align: center;
      order: 1; }
      header .logo .co-title {
        font-size: 9vw; }
        header .logo .co-title span.co-officiale {
          font-size: 4.5vw; }
        header .logo .co-title span {
          font-size: 16vw; }
    header .contact {
      order: 2;
      width: 100%; }
      header .contact-tel {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%; }
        header .contact-tel__phone {
          width: 100%;
          text-align: center;
          margin-top: 15px;
          margin-left: 0; }
        header .contact-tel__viber {
          margin: 10px 20px 0 0; }
        header .contact-tel__wu {
          margin-top: 10px; }
    header .lang {
      position: absolute;
      order: 3;
      margin-right: 0;
      right: 20px;
      top: 15px; }
  main {
    margin-top: -60px; }
  .why-we {
    border-radius: 0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.33); }
    .why-we .ua, .why-we .ru {
      justify-content: space-evenly; }
    .why-we-item {
      width: 100%;
      min-width: 270px; }
      .why-we-item__img {
        padding: 5%; }
  .components {
    overflow: hidden; }
    .components .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap; }
    .components__title {
      width: 100%;
      text-align: center;
      text-shadow: 0 0 18px white;
      margin-bottom: 45px; }
  .table {
    width: 100%; }
    .table-row--title.table-row {
      background-color: #CCFF00;
      color: #151515; } }
    @media screen and (max-width: 768px) and (max-width: 550px) {
      .table-row--title.table-row {
        height: 165px;
        display: flex;
        align-items: center; }
        .table-row--title.table-row.ru {
          height: 200px; }
        .table-row--title.table-row .table-num,
        .table-row--title.table-row .table-text {
          writing-mode: tb-rl;
          width: 28%;
          height: auto; } }

@media screen and (max-width: 768px) {
    .table-text, .table-num {
      display: inline-block;
      font-family: sans-serif;
      font-size: 21px;
      line-height: 1;
      width: 33%;
      padding: 15px 0;
      vertical-align: middle; }
      .table-text.ru, .table-num.ru {
        font-size: 18px; }
    .table-text {
      text-align: right;
      width: 31%;
      padding-left: 5px; }
    .table-num:nth-child(odd) {
      width: 31%; }
  footer .logo {
    width: 100%;
    margin-bottom: 10px;
    color: #CCFF00; }
  footer .contact {
    width: 100%;
    text-align: center; }
    footer .contact-tel {
      flex-wrap: wrap; }
      footer .contact-tel__phone {
        width: 100%;
        margin-bottom: 5px;
        text-align: center; }
      footer .contact-tel__viber {
        margin: 0 20px 0 0; } }
