.hidden {
    display: none !important;
}
.main {
    margin: 0 auto;
    max-width: 1024px;
    font-family: sans-serif;
    font-weight: normal;
    color: #333;
    padding: 20px 0;
}
.table {
    border: 2px solid #333;
}

.table span {
    display: inline-block;
    width: 10%;
    text-align: center;
    border-right: 2px solid rgba(0,0,0,.1);
    padding: 10px;
}

.table span.sort {
    font-weight: bold;
    border-right: none;
    padding: 0;
    cursor: pointer;
}
.table span:nth-child(2) {
    width: 50%;
}
.table span:nth-child(4) {
   width: 20%;
}
.table span:nth-child(5) {
   border-right: none;
 }

.table-head {
    display: flex;
    font-weight: bold;
    width: 100%;
    background-color: #777;
    color: white;
}

.table-head span.sort{
    width: auto;
}

.row {
    display: flex;    
}

.row:nth-child(2n) {
    background-color: #eee;    
}

.btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin: 10px auto;
}

.btns__item {   
    background-color: #333;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid #bbb;
    margin: 2px;
}

.btns__item--new {
    background-color: #fff;
    color: #333;
}
.btns__item--del {
    background-color: #d9534f;
}
.btns__item--demo {
    background-color: #5cb85c;
}
.btns__item--start {
    background-color: #337ab7;
}
.btns__item--stop {
    background-color: #e4b900;
}

.add-row, .import-json {
    width: 90%;
    padding: 10px 20px 20px;
    background-color: #eee;
    box-shadow: 3px 3px 12px rgba(0,0,0,.5);
    margin: 20px auto 10px;
}

.add-row__forms > div{
   margin-bottom: 15px;
}
#add-new-row {
    background: red;
    color: white;
    padding: 5px 10px;
}
.import-json__prev {
    border: 1px solid rgba(0,0,0,.33);
    padding: 15px;
    margin-bottom: 15px;
}
.import-json__btn {
    background: navy;
    color: white;
    padding: 5px 10px;
}