@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Light.ttf);
    font-weight: 200;
}

body {
    margin: 0;
    width: 100%;
    font-family: roboto, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(90, 45, 45);
    background: url(../bckg2.jpg);
}

.a4 {
    position: relative;
    background-color: white;
    width: 69vh;
    height: 100vh;
    box-shadow: 0 0 2vw rgba(0,0,0,.66);
    margin: 0 auto;
    padding: 7vh 3vh 3vh;
}

.a4::after {
    content: "";
    background: black;
    width: 2px;
    height: 99vh;
    position: absolute;
    top: 7vh;
    left: 50%;
}

.a4::before {
    content: "";
    background: #aaa;
    width: 40%;
    height: 8vh;
    position: absolute;
    top: -4vh;
    left: 30%;
    border-radius: 50%;
}

.menuList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5%;
    height: 99vh;
}

.menuList--2 .block  {
    padding: 1vh 0.5vh;
}

.menuList--2 .block--title {
    padding: 0.5vh;
}

.menuList--2 .name {
    font-size: 1.4vh;
}

.menuList--3 .block  {
    padding: 2vh 0.5vh;
}
.menuList--3 .name {
    font-size: 1.75vh;
}
.menuList--3 .ing {
    font-size: 1.75vh;
}

.menuList--5 .block  {
    padding: 1.4vh 0.5vh;
}
.menuList--5 .name {
    font-size: 1.6vh;
}
.menuList--5 .ing {
    font-size: 1.5vh;
}

.block {
    border-top: 0.006756756756756757vh solid black;
    padding: .3vh .5vh;
    display: flex;
    justify-content: space-between;
    width: 46%;
}

.block.block--title {
    background: black;
    color: white;
    max-width: 46%;
    padding: .5vh .5vh;
    border-top: none;
    margin-top: 1vh;
}

.block--title:first-of-type {
    margin-top: 0;
}

.block--title h3 {
    margin: 0;
    text-transform: uppercase;
    padding-left: 1.5vh;
    border-top: none;
    font-size: 1.5vh;
}

.block--menu,
.block--logo {
    border-top: none;
    padding: 0 .5vh 2vh;
}

.block--menu img {
    width: 100%;
}

.logo {
    width: 85%;
    margin: auto;
}

.desc {
    max-width: 80%;
}
.name {
    text-transform: uppercase;
    /* font-family: 'Oswald', sans-serif; */
    font-weight: bold;
    /* letter-spacing: -.033vh; */
    font-size: 1.5vh;
    margin: 0;
}
.ing {
    margin: 0;
    font-size: 1.3vh;
    line-height: 1.1;
    /* font-family: 'Pacifico', cursive; */
}

.priceBlock {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.price {
    position: relative;
    font-size: 2vh;
    line-height: 2vh;
    height: 2vh;
    font-weight: 500;
    text-align: center;
    border: none;
    width: 100%;
    margin: 0;
}

.grn {
    content: "грн";
    font-size: 1.3vh;
    line-height: 2vh;
    height: 2vh;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: -0.5vh;
}

.footer {
    position: absolute;
    width: 70vh;
    border-top: 1px solid #000;
    bottom: 2vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 1;
    font-size: 1.5vh;
    font-weight: 500;
}