body {
    font-family: sans-serif;
    }

p{
    display: inline-block;
    color: azure;
    text-align: center;
    font-size: 14px;
    z-index: 10;
    }

.front img,
.back img{
    width: 50%;
    box-shadow: 7px 4px 21px rgba(0,0,0,.6);
}

.wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(bg.jpg), rgba(0,0,0,.4);
    background-size: 20%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }

.card {
    width: 90%;
    max-width: 1024px;
    height: 100%;
    position: relative;
    perspective: 1000px;
    }

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s cubic-bezier(0.49,-0.26, 0.31, 1.5);
    backface-visibility: hidden;
    border-radius: 10px;
    }

.back {
    transform: rotateY(180deg);
    }

.page{
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: .4s ease;
}
.page img{
    box-shadow: 2px 2px 21px rgba(0,0,0,.3);
}

.p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 99vmin;
    transition: 1s cubic-bezier(0.43,-0.37, 0.27, 1.55);
    z-index: 0;
}

.navMain{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 5%;
    left: 0.5%;
    background-color: rgba(0,0,0,.5);
    z-index: 10;
    border-radius: 50%;
    transform: scale(0.66);
    /* opacity: 0.8; */
    transition: .3s;
}
.navMain:hover{
    transform: scale(1.2);
    opacity: 1;
    left: 1%;
}

.book{    
    width: 70%;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
    margin: 25% 0;
    }
.book > img{
    width: 100%;
}

.pages{
    display: none;
    width: 70%;
    cursor: pointer;
    transition: .3s;
    z-index: 10;
    margin: 25% 0;
    }
.pages > img{
    width: 100%;
}
.pageNum {
    position: absolute;
    left: 2%;
    bottom: 5%;
    color: white;
    text-align: center;
    font-size: 28px;
}

.arrow{
    display: inline-block;
    position: absolute;
    width: 4%;
    height: 3%;
    top: 50%;
    cursor: pointer;
    transition: .3s;
}
.arrow img {
    width: 100%;
}

.next{
    left: 101%;
}
.prev{
    right: 101%;    
}

.arrow:hover,
.book:hover,
.pages:hover{
    transform: scale(1.3) rotate(-3deg);
}