/* @import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Montserrat:400,600,900|Open+Sans:300,400,600,700,800&display=swap"); */

html {
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
  background-image: linear-gradient(to right, #870000, #190a05);
  background-image: radial-gradient(circle, rgba(50,48,50,1) 1%, rgba(46,35,35,1) 43%, rgba(1,34,41,1) 100%);
  background-color: #000000;
  background-image: radial-gradient(circle, #1d2a38 0%, #000000 100%);
  overflow: hidden;
  min-width: 100%;
  min-height: 95vh;
}
body {
  margin: 0;
  padding: 0;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 125vw;
  height: 105vh;
}

.svg {
  position: absolute;
  /* transition: 1s ease; */
}

.svg-back {
  z-index: 1;
}
.svg-front {
  z-index: 6;
}
.svg1 {
  z-index: 5;
}
.svg2 {
  z-index: 4;
}
.svg3 {
  z-index: 2;
}

/* .svg1 circle {
  fill: yellow;
}
.svg2 circle {
  fill: red;
}
.svg3 circle {
  fill: cyan;
}
.svg-back circle {
  fill:green;
}
.svg-front circle {
  fill:black;
} */

@media screen and (max-width: 768px) { }
