@import url("https://fonts.googleapis.com/css?family=Didact+Gothic|Montserrat:400,600,900|Open+Sans:300,400,600,700,800&display=swap");

html {
  background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  overflow: hidden;
  min-width: 100%;
  min-height: 95vh;
}

.bg {
  width: 105vw;
  height: 105vh;
}

.svg {
  position: fixed;
  top: 0;
  left: 0;
  transition: 1s ease;
}

circle {
  /* transition: .01s ease; */
}

@media screen and (max-width: 768px) { }
