@font-face {
    font-family: din-black;
    src: url(./fonts/din-black.otf);
  }
  @font-face {
    font-family: din-reg;
    src: url(./fonts/din-reg.otf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a4 {
    width: 100vw;
    height: calc(297/210 * 100vw);
    border: 1px solid red;
    margin: 0 auto;
    overflow: hidden;
}
/* .bg {
    background: url('bg.png');
    background-size: cover;
    opacity: .18;
    height: calc(297/210 * 100vw);
    width: 100%;
    position: absolute;
    z-index: -1;
} */
.logo {
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
}
.title {
    width: 100%;
    text-align: left;
    font-size: 1.5vw;
    font-weight: 100;
    font-family: din-reg, sans-serif;
    color: #d20000;
    line-height: 1vw;
    height: 1vw;
    margin: 1vw 0 0;
    text-decoration: underline;
    text-transform: uppercase;
    padding-left: 6vw;
}
.title:first-child {    
    margin: 3vw 0 -1vw;
}
.item {
    width: 45%;
    margin: 1%;
    /* box-shadow: .3vw .3vw 2vw rgba(0,0,0,.33); */
}
.item__pic {
    position: relative;
    width: 100%;
    height: calc(297/210 * 15vw);
    padding: .3vw;
    /* background-color: rgba(255,255,255,.84); */
}
.item__pic::after {
    content:"";
    background-color: #d20000;
    height: .2vw;
    width: 49%;
    position: absolute;
    bottom: -.5vw;
    left: 50%;
    transform: translate(-50%, 0);
}
.item__pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item__desc {
    display: flex;
    /* align-items: cenflter; */
    height: calc(297/210 * 6vw);
    background-color: rgba(255,255,255,.5);
    color: #d20000;
    padding: 1vw;
    font-family: din-reg, sans-serif;
    font-size: 2.25vw;
    line-height: 1;
    text-align: center;
}
/* ---------------------------------------- */
.item--table {
    width: 90%;
    display: flex;
    align-items: center;
    height: calc(297/210 * 10vw);
}
.item__pic--table {
    width: 30%;
    height: 100%;
}
.item__pic--table::after {
    content: none;
}
.item__desc--table {
    position: relative;
    height: auto;
    width: 70%;
    text-align: left;
    flex-direction: column;
    line-height: 1.2;
}
.item__desc--table::after {
    content:"";
    position: absolute;
    background-color: #d20000;
    width: 0.2vw;
    height: 75%;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
/* -------------------------------------- */
.item--3 {
    width: 29%;
    height: auto;
}
.item__pic--3 {
    justify-content: center;
    height: calc(297/210 * 17vw);
}
.item__desc--3 {
    justify-content: center;
}
/* -------------------------------------- */

.item--4 {
    width: 24%;
    height: calc(297/210 * 16vw);
    margin: .1%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.item__pic--4 {
    justify-content: center;
    height: calc(297/210 * 12vw);
}
.item__desc--4 {
    position: relative;
    justify-content: center;
    padding: 0 1vw 1vw;
    width: 100%;
}
.item__desc--4::after {
    content:"";
    background-color: #d20000;
    height: .1vw;
    width: 49%;
    position: absolute;
    top: -.1vw;
    left: 50%;
    transform: translate(-50%, 0);
}
.rozd {
    width: 100%; 
    height: 0;
}
/* .double {
    width: 44%;
} */

.item__pic::after {
    content:none;
}