main {
  /* background: url('../img/b3.jpg'); */
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  color: white;
}

.hidden {
  display: none;
}

html {
  background-color: #000;
}

body {
  min-height: 100vh;
  margin-bottom: 30px;
}

.video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}

.container {
  background: rgba(0,0,0,.5);
  width: 100%;
  max-width: 1250px;
  padding: 20px;
  margin: 0 auto 1vmin;
}

.locs {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 10px;
}
.locs__item {
  display: inline-block;
  max-width: 100px;
  width: 18%;
  cursor: pointer;
}
.locs__item img {
  width: 100%;
}
.locs__item p {
  color: white;
  text-align: center;
  line-height: 1;
}

.clock {
  display: inline-block;
  width: 32%;
  color: white;
  font-weight: bold;
  font-size: 300%;
  text-align: right;
}
.main-info {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 15px;
  width: 65%;
  font-size: 150%;
}
.main-info .loc {
  display: inline-block;
  font-size: 16px;
}
.main-info .loc__name {
  font-weight: 500;
  color: #ffe;
}
.main-info__dates {
  display: inline-block;
  font-size: 24px;
  max-width: 320px;
  text-align: center;
  margin: 0 10px;
}
.main-info__desc {
  display: flex;
  align-items: center;
  height: 25px;
  line-height: 1;
  margin: 10px;
}
.main-info__desc::before {
  content: "";
  display: inline-block;
  background: url("../img/info.png") no-repeat center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.days-info {
  display: flex;
  justify-content: space-between;
}
.days-info__item {
  box-sizing: border-box;
  width: 19.5%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4),
    rgba(66, 66, 66, 0.4)
  );
  background-color: rgba(0,0,0,.8);
  color: white;
  padding: 1vmin;
}
.days-info__item .date {
  font-size: 200%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.84);
  text-align: center;
  margin: 0;
}
.days-info__item .date--day {
  font-size: 150%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.84);
  text-align: center;
  margin: 0;
}
.days-info__item .temperatures {
  padding: 15px 0 0;
}
.days-info__item .temperatures__item {
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: 200%;
  margin: 0;
}
.days-info__item .day,
.days-info__item .night {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  text-align: center;
}
.days-info__item .icon {
  width: 100px;
}
.days-info__item .phrase {
  line-height: 1;
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1250px;
  padding: 20px;
  margin: 0 auto;
}

.radio-item {
  box-sizing: border-box;
  width: 24vmin;  
  height: 23vmin;
  position: relative;
  margin: .5vmin;
  min-width: 275px;
  min-height: 275px;
  cursor: pointer;
  transition: .3s ease;
}

.radio-item[data-active="true"]::after {
  content: '';
  background: url('../radio/play.svg') no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 50%;
  height: 66%;
  margin: 17% 25%;
  opacity: .75;
  animation: play 4s ease 1s infinite;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.33);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.radio-item[data-active="false"] {
  opacity: .75;
  filter: grayscale(.75);
}

.radio-item:hover {
  border: 1vmin solid white;
  box-shadow: 0 0 2vw white;
}

.radio-item__title {
  z-index: 1;
  background-color: rgba(0,0,0,.66);
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  display: none;
}

.radio-item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .days-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .days-info__item {
    width: 50vw;
    min-width: 300px;
  }
  .locs__item p {
    font-size: 3vw;
  }
  .main-info {
    display: block;
    text-align: center;
  }
  .main-info__desc {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  .main-info__desc::before {
    content: none;
    display: inline-block;
    background: url("../img/info.png") no-repeat center;
    background-size: contain;
    width: 25px;
    height: 25px;
  }
}
