.hidden {
  display: none;
}

html {
  background-color: #000;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  /* background: linear-gradient(to right, rgba(15,12,41,.8), rgba(48,43,99,.8), rgba(36,36,62,.8)); */
  background-position: center;
  background-size: cover;
  font-family: sans-serif;
  padding: 5px 0;
  transition: 5s ease;
  z-index: 1;
}

.hidden {
  opacity: 0;
}

.full-screen-btn,
.reweather,
.pin {
  width: 3%;
  height: 3vmin;
	cursor: pointer;
}

.video-bg {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
  transition: 5s ease;
  opacity: 0;
}

.saver-clock {
  display: inline-block;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 33vmin;
  width: 100%;
  height: 90vh;
  line-height: 90vh;
  position: fixed;
  font-family: sans-serif;
  z-index: -1;
  text-shadow: 0 0 2vmin #000;
  opacity: 0;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.33);
}

.container {
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  width: 100%;
  max-width: 1200px;
  padding: 5px;
  margin: 0 auto 1vmin;
  border-bottom: 1px solid #333;
}

.locs {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 10px;
}
.locs__item {
  display: inline-block;
  max-width: 100px;
  width: 18%;
  cursor: pointer;
}
.locs__item img {
  width: 100%;
}
.locs__item p {
  color: white;
  text-align: center;
  line-height: 1;
}

.clock {
  display: inline-block;
  width: 12%;
  color: white;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
}
.main-info {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 0 0 5px;
  width: 76%;
  font-size: 150%;
}
.main-info .loc {
  display: inline-block;
  font-size: 16px;
}
.main-info .loc__name {
  font-weight: 500;
  color: #ffe;
}
.main-info__dates {
  display: inline-block;
  font-size: 24px;
  max-width: 320px;
  text-align: center;
  margin: 0 10px;
}
.main-info__desc {
  display: flex;
  align-items: center;
  height: 25px;
  line-height: 1;
  margin: 10px;
}
.main-info__desc::before {
  content: "";
  display: inline-block;
  background: url("../img/info.png") no-repeat center;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.days-info {
  display: flex;
  justify-content: space-between;
}
.days-info__item {
  box-sizing: border-box;
  width: 19.5%;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4),
    rgba(66, 66, 66, 0.4)
  );
  background-color: rgba(0,0,0,.8);
  color: white;
  padding: 5px 0;
}
.days-info__item .date {
  font-size: 200%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.84);
  text-align: center;
  margin: 0;
}
.days-info__item .date--day {
  font-size: 150%;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.84);
  text-align: center;
  margin: 0;
}
.days-info__item .temperatures {
  padding: 15px 0 0;
}
.days-info__item .temperatures__item {
  display: inline-block;
  width: 49%;
  text-align: center;
  font-size: 200%;
  margin: 0;
}
.days-info__item .day,
.days-info__item .night {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  text-align: center;
}
.days-info__item .icon {
  width: 100px;
}
.days-info__item .phrase {
  line-height: 1;
  min-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}

.radio-item {
  box-sizing: border-box;
  width: 11.5vmin;  
  height: 11.5vmin;
  position: relative;
  margin: .5vmin;
  min-width: 135px;
  min-height: 135px;
  cursor: pointer;
  transition: .3s ease;
}

.radio-item[data-active="true"]::after {
  content: '';
  background: url('../radio/play.svg') no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  width: 50%;
  height: 66%;
  margin: 17% 25%;
  opacity: .75;
  animation: play 4s ease 1s infinite;
}

/* .radio-item[data-active="true"] > .radio-item__title {
  margin-left: 1vmin;
  top: 85%;
  opacity: 1;
} */

.radio-item[data-active="false"] {
  filter: grayscale(1);
}

.radio-item[data-active="true"] {
  transform: scale(1.2) rotate(-9deg);
  z-index: 9;
  border: .75vmin solid white;
  box-shadow: 0 0 2vmin black;
}

.radio-item:hover {
  border: .25vmin solid white;
}

@keyframes play {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.33);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.radio-item__title {
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2vmin;
  color: white;
  top: 100%;
  position: absolute;
  display: inline-block;
  opacity: 0;
  transition: .4s;
  text-shadow: 0 0 .5vmin #000;
  margin: 1vmin 0;
}

.radio-item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.volume {
  display: block;
  width: 90%;
  padding: 5px 0;
  cursor: pointer;
  margin: 5px auto 0;
  z-index: 5;
  box-shadow: 0 0 1vmin rgba(0,0,0,.33);
}

@media screen and (max-width: 1200px) {
 
  .days-info {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .days-info__item {
    width: 300px;
    padding: 1%;
    margin: 1% 0;
  }
  .locs__item p {
    font-size: 3vw;
  }
  .main-info {
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
    /* order: 2; */
  }
  .main-info__desc {
    justify-content: center;
    text-align: left;
    height: auto;
    width: 100%;
    margin-top: 10px;
  }

  .radio-item {
    margin-bottom: 30px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .clock {
    width: 100%;
    order: -1;
  }

  .radio-item__title {
    opacity: 0;
    font-size: 20px;
  }

  .full-screen-btn,
  .reweather,
  .pin {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 20px;
  }
  
  .reweather {
    left: 10px;
  }
  .pin {
    left: 45px;
  }
  .volume {
    padding: 10px 0;
  }
}
